.searchBar{
    border-radius: 50px;
    cursor: pointer;

}

table,th,td{
    border: 3px solid black;
    background-color:white;
    
}

th{
    font-size: 16px;
    font-weight: bold;
}
 td{
    font-size: 15px;
 }